<header class="header">
    <div class="container header__inner ">
        <div class="header__logo"><a href="/">BrandShop</a></div>
        <nav>
            <ul class="header__menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/cart/" id="cart-menu">🛒<span>{{ cart_count > 0 ? cart_count : '' }}</span></a></li>
                {% if access == 'admin' or access == 'root' %}
                    <li><a href="/admin/">Панель администратора</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="auth">
            <div class="auth__greeting"
                 style="display: {% if allow == true %} block {% else %} none {% endif %}"
            >
                Вы вошли как: <span class="login"> {{ user }} </span> <span id="logout">Выйти</span>
            </div>
            <form method="post"
                  class="auth__form"
                  style="display: {% if allow != true %} block {% else %} none {% endif %}"
            >
                <input type='text'
                       name='login'
                       placeholder='Логин'
                >
                <input type='password'
                       name='pass'
                       placeholder='Пароль'
                >
                Save? <input type='checkbox'
                             name='save'
                >
                <input type="submit"
                       value="Войти"
                       id="login"
                >
            </form>
        </div>

    </div>
</header>