<header class="header">
    <div class="container header__inner ">
        <div class="header__logo"><a href="/">BrandShop</a></div>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/cart/">🛒</a></li>
            </ul>
        </nav>

        <div class="auth">
            <div class="auth__greeting"
                 style="display: {% if allow == true %} block {% else %} none {% endif %}"
            >
                Вы вошли как: <span class="login"> {{ user }} </span> <a href="/?logout">Выйти</a>
            </div>
            <form method="post"
                  class="auth__form"
                  style="display: {% if allow != true %} block {% else %} none {% endif %}"
            >
                <input type='text'
                       name='login'
                       placeholder='Логин'
                       required
                >
                <input type='password'
                       name='pass'
                       placeholder='Пароль'
                       required
                >
                Save? <input type='checkbox'
                             name='save'
                >
                <input type="submit"
                       value="Войти"
                       id="login"
                >
            </form>
        </div>

    </div>
</header>