table {
    margin-bottom: 80px;
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

table label:not(:last-child) {
    margin-right: 20px;
}